.vl {
    border-left: 0.18rem solid black;
    height: 3rem;
}



nav {
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 10px;
    align-items:center;
    justify-content: space-between;
}

header {
    /* justify-content: space-around; */
    padding: 2px;
    /* background-color: azure; */
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.caixa {
    height: 28em;
    width: 30%;
}



.secao {
    background-color: bisque;
    height: 500px;
    align-items: center;
}